<!-- <label for="matin" >matin</label>
<input type="checkbox" id="matin" [(ngModel)]="coche" (change)="onCoche()">
<label for="aprem">aprem</label>
<input type="checkbox" id="aprem" [(ngModel)]="coche" (change)="onCoche()">  -->

<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th>Septembre</th>
    </tr>
    <tr>
      <th></th>
      <th *ngFor="let jour of jours1a30 let i = index">{{ jour }}</th>
    </tr>
    <tr>
      <th></th>
      <th *ngFor="let date of calendrier">{{ date }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let personne of liste">
      <td>{{ personne }}</td>
      <td *ngFor="let jour of jours1a30">
        <input type="checkbox" (change)="onCheck($event)" />
      </td>
    </tr>
  </tbody>
</table> -->

<table>
  <thead>
    <tr>
      <th></th>
      <th>Septembre</th>
    </tr>
    <tr>
      <th></th>
      <th *ngFor="let jour of jours1a30">{{ jour }}</th>
    </tr>
    <tr>
      <th></th>
      <ng-container *ngFor="let jour of jours1a30; let i = index">
        <th>{{ jourSemaine[i % 7] }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let personne of listeEleves; let j = index">
      <td>{{ personne }}</td>
      <td *ngFor="let jour of jours1a30; let i = index">
        <input id="checkbox"
          *ngIf="calendrier.includes(jourSemaine[i % 7])" 
          type="checkbox" value=totalCheckboxesCreated++
          (change)="onCheck(j, jourSemaine[i % 7], $event)" 
        >
        <span *ngIf="!calendrier.includes(jourSemaine[i % 7])">X</span>
      </td>
    </tr>
  </tbody>
</table>

