<!-- <form>
  <div *ngFor="let nom of liste">
    <label>{{ nom }}</label>
      <input *ngFor="let date of calendrier" type="checkbox" (change)="onCheck($event)">      
  </div>
</form> -->

<!-- <h2>Lundi</h2> -->

<!-- <label for="matin">matin</label>
<input type="checkbox" id="matin" (change)="onCheck($event)">
<label for="aprem">aprem</label>
<input type="checkbox" id="aprem" (change)="onCheck($event)">

<h2>Mardi</h2>

<label for="matin" >matin</label>
<input type="checkbox" id="matin" [(ngModel)]="coche" (change)="onCoche()">
<label for="aprem">aprem</label>
<input type="checkbox" id="aprem" [(ngModel)]="coche" (change)="onCoche()"> -->
<div>
  <button (click)="changeMonth('septembre')">Septembre</button>
  <button (click)="changeMonth('octobre')">Octobre</button>
  <!-- Ajoutez des boutons pour les autres mois -->
</div>

 <table>
      <thead>
        <tr>
            <th></th>
            <th>Septembre</th>
        </tr>
        <tr>    
        <th></th>      
          <th *ngFor="let date of calendrier">{{ date }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personne of liste; let rowIndex = index">
          <td>{{ personne }}</td>
          <td *ngFor="let date of calendrier; let columnIndex = index">
            <!-- <input type="checkbox" (change)="onCheck($event)"> -->
            <input type="checkbox" [(ngModel)]="presenceData[rowIndex][columnIndex]" />
          </td>
        </tr>
      </tbody>
    </table>